.option-tab__container {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  .option-tab__button {
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: transparent;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: #2f2f2f;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: #1565c0;
      color: #fff;
    }
  }
}

.hide-tabs {
  & .static-options {
    display: none;
  }
}

#estimate-option-tab {
  position: relative;

  .static-options {
    border: 1px solid #eee;
  }

  .delete-estimate-icon {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    color: #6d6d6d;
    margin: 0px;
  }
}
